@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-accent: #ff4820;
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

body {
  background: var(--color-bg);
}

* {
  @apply box-border p-0 m-0 scroll-smooth
}

.gpt3__navbar {
  @apply flex justify-between items-center p-8 sm:px-16 md:px-24
}
.gpt3__navbar-links {
  @apply flex flex-1 justify-start items-center
}
.gpt3__navbar-links_logo {
  @apply mr-8
}
.gpt3__navbar-links_logo img {
  @apply w-16 h-4
}
.gpt3__navbar-links_container {
  @apply hidden lg:flex flex-row
}
.gpt3__navbar-sign {
  @apply hidden sm:flex justify-end items-center
}
.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
  @apply text-white font-medium text-lg leading-6 capitalize my-0 mx-4 cursor-pointer
}
.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
  @apply py-2 px-4 text-white bg-[var(--color-accent)] font-medium text-lg leading-6 border-none outline-none cursor-pointer rounded
}
.gpt3__navbar-menu {
  @apply ml-4 flex lg:hidden relative
}
.gpt3__navbar-menu svg {
  @apply cursor-pointer
}
.gpt3__navbar-menu_container {
  @apply flex justify-end items-end flex-col text-end bg-[var(--color-footer)] p-8 absolute right-0 top-5 sm:top-10 mt-4 min-w-[210px] rounded shadow-sm
}
.gpt3__navbar-menu_container p {
  @apply my-4 mx-0
}
.gpt3__navbar-menu_container-links-sign {
  @apply block sm:hidden
}

.gpt3__header {
  @apply flex flex-col lg:flex-row
}
.gpt3__header-content {
  @apply flex flex-1 justify-center items-start flex-col m-0 mb-12 lg:mr-20
}
.gpt3__header-content h1 {
  @apply font-extrabold text-4xl sm:text-5xl md:text-6xl tracking-tighter
}
.gpt3__header-content p {
  @apply font-normal text-sm sm:text-base md:text-xl text-[var(--color-text)] mt-6
}
.gpt3__header-content__input {
  @apply w-full mt-8 mb-4 mx-0 flex flex-row
}
.gpt3__header-content__input input {
  @apply flex-[2_2_0%] w-full min-h-[50px] font-normal text-xs sm:text-base md:text-xl bg-[var(--color-footer)] border-2 border-solid border-[var(--color-footer)] rounded-tl rounded-bl py-0 px-4 outline-none text-white
}
.gpt3__header-content__input button {
  @apply flex-[0.6_0.6_0%] w-full min-h-[50px] font-normal text-xs sm:text-base md:text-xl bg-[var(--color-accent)] border-2 border-solid border-[var(--color-accent)] rounded-tr rounded-br py-0 px-4 text-white outline-none cursor-pointer
}
.gpt3__header-content__people {
  @apply w-full flex flex-col md:flex-row justify-start items-center mt-8
}
.gpt3__header-content__people img {
  @apply w-48 h-10
}
.gpt3__header-content__people p {
  @apply m-0 md:ml-4 font-medium text-sm leading-10 text-white text-center
}
.gpt3__header-image {
  @apply flex flex-1 justify-center items-center
}
.gpt3__header-image img {
  @apply w-full h-full
}

.gpt3__brand {
  @apply flex flex-wrap justify-center items-center
}
.gpt3__brand div {
  @apply flex flex-1 justify-center items-center max-w-[150px] min-w-[120px] m-4 
}

.gpt3__features-container__feature {
  @apply w-full flex flex-row justify-between items-start my-4 mx-0 sm:m-4
}
.gpt3__features-container__feature-title {
  @apply flex-1 max-w-[180px] mr-8
}
.gpt3__features-container__feature-title h1 {
  @apply font-extrabold text-sm sm:text-xl text-white tracking-tighter
}
.gpt3__features-container__feature-title div {
  background: var(--gradient-bar);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @apply w-10 h-1 mb-1
}
.gpt3__features-container_feature-text {
  @apply flex flex-[2_2_0%] max-w-[400px]
}
.gpt3__features-container_feature-text p {
  @apply font-medium text-xs leading-4 sm:text-sm text-[var(--color-text)]
}

.gpt3__whatgpt3 {
  background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @apply flex flex-col p-8 bg-[var(--color-footer)]
}
.gpt3__whatgpt3-feature {
  @apply flex
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  @apply m-0
}
.gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
  @apply max-w-[700px]
}
.gpt3__whatgpt3-heading {
  @apply flex flex-col lg:flex-row justify-between items-start lg:items-center mt-16 mb-0 lg:mb-8 mx-0
}
.gpt3__whatgpt3-heading h1 {
  @apply text-3xl leading-10 md:text-4xl md:leading-[45px] font-extrabold max-w-[510px]
}
.gpt3__whatgpt3-heading p {
  @apply font-medium text-base text-[var(--color-subtext)] cursor-pointer mt-4
}
.gpt3__whatgpt3-container {
  @apply flex flex-wrap flex-row mt-8
}
.gpt3__whatgpt3-container .gpt3__features-container__feature {
  @apply flex flex-col flex-1 my-4 mx-0 sm:m-4 min-w-full sm:min-w-[210px] 
}
.gpt3__whatgpt3-container .gpt3__features-container_feature-text {
  @apply mt-2
}

.gpt3__features {
  @apply flex flex-col lg:flex-row justify-between w-full
}
.gpt3__features-heading {
  @apply flex flex-col flex-1 justify-start items-start text-left m-0 mb-8 lg:mr-20
}
.gpt3__features-heading h1 {
  @apply font-extrabold text-3xl leading-[38px] sm:text-4xl sm:leading-[45px]
}
.gpt3__features-heading p {
  @apply text-base leading-7 text-[var(--color-subtext)] mt-8
}
.gpt3__features-container {
  @apply flex flex-col flex-[1.5_1.5_0%] justify-start items-center
}

/* other supplementary styles */
.scale-up-center {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__padding {
  @apply py-16 px-8 sm:p-16 md:px-24;
}
.section__margin {
  @apply my-16 mx-8 sm:m-16 md:mx-24;
}
.gradient__bg {
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}